<div class="container">
  <br>
  <form method="POST">
     {% csrf_token %}
      <div class="form-group">
        <label for="username">Masukkan Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username Siswa" name="username">
        <small id="emailHelp" class="form-text text-muted">Isi dengan username yang telah diaktivasi di sekolah</small>
      </div>
      <div class="form-group">
        <label for="password">Masukkan Password</label>
        <input type="password" name="password" id="password" class="form-control" id="exampleInputPassword1" placeholder="Password Siswa">
        <small id="emailHelp" class="form-text text-muted">Isi dengan password yang telah diaktivasi di sekolah</small>
      </div>
      <button type="Submit" class="btn btn-primary">Login</button>
  </form>
  <br>

  <div class="container">
    <div class="alert alert-success" role="alert">
      <b>Ketentuan Login:</b>
      <br>
      1. Terdaftar sebagai siswa di TK Insan Kamil <br>
      2. Telah melakukan aktivasi di admin sekolah <br>
      3. Menginput username dan password sesuai dengan yang diberikan oleh admin di sekolah <br>
      4. Password berbeda setiap siswa dan tidak boleh disebarkan <br>
      5. Wajib dilakukan oleh orang tua siswa
      <br><br>

      <b>Jika mengalami lupa password:</b>
      <br>
      1. Orang tua dapat menghubungi guru di sekolah atau datang ke admin sekolah TK Insan Kamil <br>
      2. Wajib dilakukan oleh orang tua siswa
    </div>
  </div>
</div>
