
    <section class="wthree-row  w3-about position-relative" id="about">
        <div class="container">
            <div class="about-head">
                <div class="sec-main">
                    <span class="sub-line">Tentang Kami</span>
                    <h3 class="wthree-title">TK Insan Kamil</h3>
                </div>
                <p>Didirikan tanggal 27 Juli 1999, berlokasi di Jl. Raya Serang Km 10.5 No. 9 Kecamatan Cikupa
                Kabupaten Tangerang. TK Insan Kamil memiliki motto untuk Mencetak Generasi yang berakhlakul karimah. TK Insan Kamil berdiri dibawah Yayasan Insan Kamil yang dipimpin oleh Hj. Mila Murlina.<br>
                </p>
            </div>
        </div>
        <!-- <div class="abt-pos">
            <div class="contcat-form">
                 <form action="#" method="post" class="register-wthree">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="text-white">
                                    Tulis Kritik dan Saran Anda
                                </label>
                                <div class="container">
                                    <form method="POST">
                                        {% csrf_token %}
                                            <textarea>
                                                {{data_form.as_table}}
                                            </textarea>
                                        <button type="Submit" class="btn btn-primary btn-sm btn-block">Kirim Sekarang</button>
                                    </form>
                                </div>
                            </div>
                        </div>  
                    </div>
                </form>
            </div>
        </div> -->
            
    </section>
    <!-- //about