    <!-- banner -->
    <div id="home" class="position-relative">
        <div class="header-main">
            <div class="d-sm-flex justify-content-between">
                <h1>
                    <a class="navbar-brand" href="/">
                        TK<span>In</span>san<span>K</span>am<span>i</span>l
                    </a>
                </h1>
                <div class="hearder-right-w3_pvt d-flex justify-content-sm-end align-items-center  mt-sm-0 mt-4">
                </div>
            </div>
        </div>
    </div>
    <div class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme1 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner1 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Selamat Datang</span>
                            <h3>Di TK <span>INSAN</span> KAMIL</h3>
                            <p class="text-white">Mencetak Generasi Madani yang Berakhlakul Karimah</p>
                            <p class="text-white">LOGIN ORANG TUA DISINI</p>
                            <a class="btn btn-danger" href="/akademik/ortu">LOGIN</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme2 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner2 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Selamat Datang</span>
                            <h3>Di TK <span>INSAN</span> KAMIL</h3>
                            <p class="text-white">Mencetak Generasi Madani yang Berakhlakul Karimah</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="slider-img">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-3 col-sm-6 px-0 bg-theme3 banner-left-grid">
                            <div class="banner-text h-100">
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 banner banner3 banner-text">
                        </div>
                        <div class="slider-info">
                            <span class="line">Selamat Datang</span>
                            <h3>Di TK <span>INSAN</span> KAMIL</h3>
                            <p class="text-white">Mencetak Generasi Madani yang Berakhlakul Karimah</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- //banner -->