<section class="services-w3sec" id="eskul">
        <div class="container">
            <br>
            <div class="sec-main">
                <span class="sub-line">3 Macam</span>
                <h3 class="wthree-title">Ekstrakurikuler</h3>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 my-lg-0 my-sm-5 my-4">
                    <div class="w3ls-servgrid card service-active">
                        <div class="card-header">
                            <span class="sub-line">01</span>
                            <h4 class="serv-title">
                                Menari
                            </h4>
                        </div>
                        <div class="card-block">
                            <p class="card-title servgrid-title">
                                Melatih seni gerak dengan menari tradisional Indonesia. Dilatih oleh Ibu Ecih setiap hari senin.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="w3ls-servgrid card">
                        <div class="card-header">
                            <span class="sub-line">02</span>
                            <h4 class="serv-title">
                                Menyanyi
                            </h4>
                        </div>
                        <div class="card-block">
                            <p class="card-title servgrid-title">
                                 Melatih seni suara dengan berlatih menyanyi lagu anak-anak. Dilatih oleh Ibu Ecih setiap hari rabu.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-lg-0 my-4 pl-lg-0">
                    <div class="w3ls-servgrid card">
                        <div class="card-header">
                            <span class="sub-line">03</span>
                            <h4 class="serv-title">
                                Bahasa Inggris
                            </h4>
                        </div>
                        <div class="card-block">
                            <p class="card-title servgrid-title">
                                 Melatih kemampuan berbahasa asing yaitu bahasa inggris. Dilatih oleh Ibu Epah setiap hari kamis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->