{% load static %}
<!-- portfolio -->
    <div class="portfolio-wthree py-lg-5" id="portfolio">
        <div class="container pt-md-5 pt-4">
            <div class="sec-main">
                <span class="sub-line">Lihat</span>
                <h3 class="wthree-title">Galeri</h3>
            </div>
            <div class="pb-lg-5 pb-sm-4">
                <ul class="demo row">
                    <li class="col-lg-4  col-md-6">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="{% static "templates/images/g1.jpg" %}" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">portfolio-Description</h6>
                                <p>
                                    Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="{% static "templates/images/g2.jpg" %}" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">portfolio-Description</h6>
                                <p>
                                    Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6 my-lg-0 my-md-4 mx-auto">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="{% static "templates/images/g3.jpg" %}" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">portfolio-Description</h6>
                                <p>
                                    Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6 my-lg-0 my-md-4">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="{% static "templates/images/g2.jpg" %}" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">portfolio-Description</h6>
                                <p>
                                    Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="{% static "templates/images/g6.jpg" %}" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">portfolio-Description</h6>
                                <p>
                                    Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6 mt-md-0 mx-auto">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="{% static "templates/images/g4.jpg" %}" alt=" " class="img-fluid" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center">portfolio-Description</h6>
                                <p>
                                    Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- team -->