{% load static %}

<section class="team_wthree py-4" id="team">
        <div class="container py-lg-5">
            <div class="sec-main">
                <span class="sub-line">Pengajar</span>
                <h3 class="wthree-title">Guru-guru TK Insan Kamil</h3>
            </div>
            <div class="row py-4 py-lg-5">
                <div class="col-lg-4 col-md-6">
                    <div class="team_grid">
                        <img src="{% static "templates/images/te1.jpg" %}" class="img-fluid img-thumbnail" alt="" />
                    </div>
                    <div class="team-text bg-theme1">
                        <h4 class="text-theme1">Laura Hill</h4>
                        <span class="my-2 d-block">Designation</span>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-md-0 my-4">
                    <div class="team_grid">
                        <img src="{% static "templates/images/te2.jpg" %}" class="img-fluid img-thumbnail" alt="" />
                    </div>
                    <div class="team-text bg-theme2">
                        <h4 class="text-theme2">Thomson Doe</h4>
                        <span class="my-2 d-block">Designation</span>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-auto mt-lg-0 mt-md-4">
                    <div class="team_grid">
                        <img src="{% static "templates/images/te3.jpg" %}" class="img-fluid img-thumbnail" alt="" />
                    </div>
                    <div class="team-text bg-theme3">
                        <h4 class="text-theme3">Myra Doe</h4>
                        <span class="my-2 d-block">Designation</span>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //team -->