{% load static %}
<!-- Custom Theme files -->
<link href="{% static "templates/css/bootstrap.css" %}" type="text/css" rel="stylesheet" media="all">
<!-- portfolio -->
<link href="{% static "templates/css/gallery.css" %}" type="text/css" rel="stylesheet" media="all">
<!-- testimonials -->
<link href="{% static "templates/css/testimonials.css" %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static "templates/css/style.css" %}" type="text/css" rel="stylesheet" media="all">
<!-- font-awesome icons -->
<link href="{% static "templates/css/font-awesome.min.css" %}" rel="stylesheet">
<!-- //Custom Theme files -->