    <!-- why us -->
    <section class="why-sec" id="services">
        <div class="container py-lg-3">
            <div class="row">
                <div class="col-lg-6 bg-img1 order-lg-0 order-1 mt-lg-0 mt-4">
                </div>
                <div class="offset-lg-1 col-lg-5 order-lg-1 order-0 ">
                    <div class="sec-main">
                        <span class="sub-line">Visi & Misi</span>
                        <h3 class="wthree-title">Visi</h3>
                    </div>
                    <ul class="list-group mt-3 why-list">
                        <li class="list-group-item border-0">
                            Mencetak Generasi Madani Yang Berakhlakul Karimah</li>
                    </ul>
                    <div class="sec-main">
                        <h3 class="wthree-title">Misi</h3>
                    </div>
                    <ul class="list-group mt-3 why-list">
                        <li class="list-group-item border-0">
                            <span class="num mr-3">01</span>Mengembangkan potensi dan kemampuan dasar pada anak untuk mengembangkan kemampuan berfikir, berbahasa dan kreatif</li>
                        <li class="list-group-item border-0">
                            <span class="num mr-3">02</span>Mengenalkan pendidikan agama islam sejak dini sebagai bekal penanaman aqidah dan akhlakul karimah</li>
                        <li class="list-group-item border-0">
                            <span class="num mr-3">03</span>Meningkatkan budi pekerti di semua bidang</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- //why us -->